---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="關於果園｜拉拉山水蜜桃達人">
  <section class="max-w-3xl mx-auto px-4 py-10">
    <h1 class="text-3xl font-bold mb-4">關於水蜜桃達人農場</h1>
    <p>賀！水蜜桃達人農場於 2025年桃園拉拉山「蜜桃一夏 復興開麥拉」活動，榮獲 ★★★水蜜桃王★★★ 最高殊榮！</p>
    <p>《拉拉山水蜜桃》產於桃園縣復興鄉，海拔約1400~1600公尺。上巴陵地區高海拔的地形和氣候，</p>
    <p>加上水霧氣豐沛、日夜溫差大等條件，產出的水蜜桃香甜可口、品質絕佳！</p>

    <p>身為農家第二代的「阿義老闆」，擁有父母親在地水蜜桃種植30年的「技術傳承」！</p>
    <p>在產季期間，每日早上6:30就至果園採取掛著鮮綠葉子的蜜桃，為了確保絕佳品質，</p>
    <p>若遇品質不穩時，阿義老闆也寧可不出貨堅決把關，就是要將「最好」、「最新鮮」的拉拉山水蜜桃送到每位顧客手中！</p>
    <p>歡迎大家親自蒞臨拉拉山水蜜桃農場，享受獨特採果趣！</p>

 

<p>歡迎大家聯繫我們訂購宅配！</p>
<p>支持台灣在地小農，高品質「水蜜桃達人農場」絕對是您的最佳選擇！</p>


  </section>
</BaseLayout>
